
@{
    ViewBag.Title = "Clubkit - Buy";
}

<h2>Clubkit - Buy</h2>

 <div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/Pedals.jpg" />
        <h4>Pedals</h4>
        <div>
            <a href="@Url.Action("PedalsPP","Home")">
                <input id="ViewP1" type="button" value="View" />
            </a>
            <input id="BuyP1" type="button" value="Buy" />
        </div>
    </div>
    
    <div class="col-md-2">
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/Helmet.jpg" />
        <h4>Helmet</h4>
        <div>
            <a href="@Url.Action("HelmetPP","Home")">
                <input id="ViewP2" type="button" value="View" />
            </a>
            <input id="BuyP2" type="button" value="Buy" />
        </div>
    </div>
    
     <div class="col-md-1">
            <a href="@Url.Action("BuyPage", "Home" )">
                <img src="~/Content/Images/shopping-cart.png" />
            </a>
     </div>
      
 </div>
 

 <div class="row">

  <div class="col-md-1">
  </div>

   <div class="col-md-4">
        <img src="~/Content/Images/BikePump.jpg" />
        <h4>Bike Pump</h4>
        <div>
            <a href="@Url.Action("BikePumpPP","Home")">
                <input id="ViewP3" type="button" value="View" /> 
            </a>
            <input id="BuyP3" type="button" value="Buy" />
        </div>
   </div>

   <div class="col-md-2">
   </div>

   <div class="col-md-4">
      <img src="~/Content/Images/Bikeframe.jpg" />
        <h4>Bike Frame</h4>
         <div>
           <a href="@Url.Action("BikeFramePP","Home")">
             <input id="ViewP4" type="button" value="View" />
           </a>
             <input id="BuyP4" type="button" value="Buy" />
         </div>
   </div>
   
   <div class="col-md-1">
   </div>

 </div>
 